<% if(error_msg.length>0){ %>
   <% error_msg.forEach((error)=>{ %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%-error%>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="outline: none;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>  
  <% }) %>
<% } %>

<% if(error_msg_validate.length>0 ){ %>
  <% error_msg_validate.forEach((error)=>{ %>
   <div class="alert alert-danger alert-dismissible fade show" role="alert">
       <%-error%>
       <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="outline: none;">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>  
 <% }) %>
<% } %>

<% if(success_msg.length>0){ %>
  <% success_msg.forEach((success)=>{ %>
   <div class="alert alert-success alert-dismissible fade show" role="alert">
       <%-success%>
       <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="outline: none;">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>  
 <% }) %>
<% } %>