<%- include("./partials/header.ejs") %>
<link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <div id="dashboard">
   <h1>Dashboard</h1>
   <h5>Welcome to the dashboard <%=name %></h5>
   <a href="/users/logout">Logout</a>
   </div>
   <%- include("./partials/script.ejs") %> 
<%- include("./partials/footer.ejs") %> 