<%- include("./partials/header.ejs") %>
<link rel="stylesheet" href="/css/welcome.css">
</head>
<body>
    <%- include("./partials/message.ejs") %>
    <div id="home">
        <i class="fab fa-node-js"></i>
        <p><strong>Create an Account or Login</strong> </p>
       <div><a href="\users\register">Register</a></div> 
       <div><a href="\users\login">Login</a></div> 
    </div> 
<%- include("./partials/script.ejs") %> 
 <%- include("./partials/footer.ejs") %>   
