body
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
#register_content
{
    width:500px;
    margin:60px auto;
    border: 1px solid rgb(231, 231, 231);
    padding: 0px 13px;
    padding-top: 15px;
    padding-bottom: 20px;
}
#register_content h1
{
    text-align: center;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#register_content input
{
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    margin-top: 10px;
    outline: none;
    border: 1px solid rgb(187, 187, 187);
}
#register_content input::placeholder
{
    color: rgb(145, 145, 145);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
#register_content label
{
    transform: translateY(13px);
    color: rgb(65, 63, 63);
}
#register_content #register
{
    width: 100%;
    margin-top: 15px;
    border: none;
    outline: none;
    height: 30px;
    line-height: 30px;
    color: white;
    background-color: red;
    font-size: 18px;
}
#register_content form+p
{
    margin-top: 10px;
}
#register_content form+p a
{
    color: red;
}
#register_content .invalid
{
    border: 1px solid red;
}

